<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ClownfishTimesheet' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ac7eac00-f64f-4e30-b7d7-02627f36cea4</InstrumentationKey>
</ApplicationInsights>